@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.products-container {
  padding: 35px 15%;
}

@media (max-width: 600px) {
  .products-container {
    padding: 30px;
  }
}
