.navBar-container {
  background-color: white;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navBar-logo img {
  height: 90px;
  width: auto;
}

.navBar-item {
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 600px) {
  .navBar-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
