.product-gallery {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 500px;
}

.main-image {
  max-height: 400px;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.details-wrapper {
  background-color: white;
  display: flex;
  border-radius: 12px;
  padding: 30px;
  flex-wrap: wrap;
  gap: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
}

.details-info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
}

.details-name {
  font-size: 28px;
}

.details-description {
  font-size: 18px;
}

.details-price {
  font-size: 24px;
  font-weight: 600;
}

.details-table {
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.details-table td {
  border-bottom: 1px solid #a2a2a2;
  padding: 8px 0px;
}

.thumbnail-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #cfcfcf;
  transform: transform 0.2s ease, box-shadow 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.main-image-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main-image {
    max-height: 300px;
    max-width: 100%;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }
}
