.headline {
  font-size: 50px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: left;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.products-list {
  background: transparent;
  display: flex;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  gap: 12px;
  flex-direction: row;
}

.sorting-area {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.sort-dropdown,
.pagination-dropdown {
  background-color: white;
  font-size: 18px;
  border: 1px solid #cfcfcf;
  padding: 10px 16px;
  cursor: pointer;
  width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.search-bar {
  position: relative;
  max-width: 100%;
  width: 320px;
}

.search-input {
  padding: 10px 20px 10px 45px;
  font-size: 18px;
  width: 100%;
  background-color: white;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  font-size: 18px;
  color: #313131;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

.pagination-button {
  background: transparent;
  color: #313131;
  padding: 10px;
  border: 1px solid #313131;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}

.outer-button {
  margin-left: -13px;
  margin-right: -13px;
}

.pagination-info {
  font-size: 18px;
}

.view-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.radio-toggles {
  display: flex;
  gap: 8px;
}

.radio-toggles input[type="radio"] {
  height: 20px;
  width: 20px;
  position: relative;
}

.radio-toggles label {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.radio-toggles input[type="radio"] {
  height: 20px;
  width: 20px;
}

@media (max-width: 600px) {
  .headline {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .filter-section {
    flex-direction: column;
    align-items: stretch;
  }

  .sorting-area {
    flex-direction: column;
    width: 100%;
  }

  .sort-dropdown,
  .pagination-dropdown,
  .search-bar {
    width: 100%;
    max-width: 100%;
  }

  .pagination-dropdown {
    margin-left: 0;
    margin-top: 5px;
  }

  .pagination-info {
    font-size: 16px;
  }

  .view-options {
    font-size: 16px;
  }

  .radio-toggles input[type="radio"] {
    height: 18px;
    width: 18px;
  }
}
